# The standard CI build workflow. This relies on the CI scripts in knetminer-common, 
# see https://github.com/Rothamsted/knetminer-common 
#

name: Standard Build

on:
  push:
  # You should use this (instead of push) for large, time and resource-consuming codebases.
  # build.sh uses CI_SCHEDULE_PERIOD to decide if there has been changes recently that actually need
  # a rebuild.
  #
  workflow_dispatch:
    inputs:
      # These can be set when the build is invoked manually, from GH Actions.
      #
      # Set BOTH when you want to trigger a new release. The build script will 
      # switch Maven to the new release, deploy, tag git, move Maven to the new snapshot
      #
      NEW_RELEASE_VER:
        description: "New Release Version"
        required: false
      NEW_SNAPSHOT_VER:
        description: "New Snapshot Version"
        required: false
      IS_LATEST_RELEASE:
        description: "When releasing, tells if it's a github latest release. Ignored otherwise."
        required: false
        default: "true"
      IS_PRE_RELEASE:
        description: "When releasing, tells if it's a github pre-release. Ignored otherwise."
        required: false
        default: "false"

    
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Code checkout
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.11"

    - name: Set up Poetry
      uses: Gr1N/setup-poetry@v8
      
    # TODO: add caching as explained by them https://github.com/marketplace/actions/setup-poetry

    - name: Build
      env:
        GIT_USER: ${{github.actor}}
        GIT_PASSWORD: ${{github.GITHUB_TOKEN}}
        CI_NEW_RELEASE_VER: ${{github.event.inputs.NEW_RELEASE_VER}}
        CI_NEW_SNAPSHOT_VER: ${{github.event.inputs.NEW_SNAPSHOT_VER}}
        CI_IS_LATEST_RELEASE: ${{github.event.inputs.IS_LATEST_RELEASE}}
        CI_IS_PRE_RELEASE: ${{github.event.inputs.IS_PRE_RELEASE}}
        CI_SLACK_API_NOTIFICATION_URL: ${{secrets.CI_SLACK_API_NOTIFICATION_URL}}
        GIT_USER_EMAIL: ${{secrets.GIT_USER_EMAIL}}
        # Used during releasing
        POETRY_PYPI_TOKEN_PYPI: ${{secrets.POETRY_PYPI_TOKEN_PYPI}}
        CI_TRIGGERING_EVENT: ${{github.event_name}}
        # This is only set when using the act tool
        CI_IS_ACT_TOOL: ${{ secrets.CI_IS_ACT_TOOL }}
        # This also can be passed from act CLI
        CI_DEPLOY_BRANCHES: ${{ secrets.CI_DEPLOY_BRANCHES }}
      
      # We reuse the general CI scripts in knetminer-common, see https://github.com/Rothamsted/knetminer-common  
      run: 
        ./ci-build-v2/python-poetry/build.sh
